version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=${REACT_APP_API_URL}
      - REACT_APP_VIDEO_FEED_URL=${REACT_APP_VIDEO_FEED_URL}
    volumes:
      - .:/app
    restart: unless-stopped
